*{
    margin: 0px;
    padding: 0px;
}
.nav
{
    background-color: rgb(34, 17, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    color: aliceblue;
}

.container
{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    

}
.choices
{
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.choices img
{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.choices img:hover
{
    box-shadow: 2px 6px 20px 14px rgb(34, 17, 88);
    cursor: pointer;
    opacity: 0.5;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    font-size: 25px;
    margin-top: 10vh;


}
.UserScore, .CompScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button button{
    background-color: rgb(3, 3, 48);
    color: aliceblue;
    width: 18vw;
    height: 12vh;
    font-size: 25px;
    border-radius: 15px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}


